html,
body {
  font-family: 'Helvetica Neue', sans-serif;
  height: 100vh;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

// Input chrome autofill fix
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: 0;
}
