<div class="mt-5 grid grid-cols-3 gap-4">
  <app-checkbox-wrapper class="custom">
    <input id="c-primary" appCheckbox checked />
    <label for="c-primary" appCheckboxLabel>Checkbox Primary</label>
  </app-checkbox-wrapper>

  <app-checkbox-wrapper>
    <input id="c-secondary" mode="secondary" appCheckbox checked />
    <label for="c-secondary" appCheckboxLabel>Checkbox Secondary</label>
  </app-checkbox-wrapper>

  <app-checkbox-wrapper>
    <input id="c-disabled" mode="secondary" checked appCheckbox disabled />
    <label for="c-disabled" appCheckboxLabel>Checkbox Disabled</label>
  </app-checkbox-wrapper>
</div>
