<div>
  <div
    *ngIf="showMenu"
    class="relative z-50 lg:hidden"
    role="dialog"
    aria-modal="true"
  >
    <div class="fixed inset-0 bg-gray-900/80"></div>

    <div class="fixed inset-0 flex">
      <div class="relative mr-16 flex w-full max-w-xs flex-1">
        <div class="absolute left-full top-0 flex w-16 justify-center pt-5">
          <button (click)="showMenu = false" type="button" class="-m-2.5 p-2.5">
            <span class="sr-only">Close sidebar</span>
            <svg
              class="h-6 w-6 text-white"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>

        <div
          class="flex grow flex-col gap-y-5 overflow-y-auto bg-gray-900 px-6 pb-4 ring-1 ring-white/10"
        >
          <div class="flex h-16 shrink-0 items-center justify-center">
            <img
              class="w-20"
              src="../../../../../assets/img/logo.png"
              alt="Your Company"
            />
          </div>
          <nav class="flex flex-1 flex-col">
            <ul role="list" class="flex flex-1 flex-col gap-y-7">
              <li>
                <ul role="list" class="-mx-2 space-y-1">
                  <li (click)="showMenu = false">
                    <a
                      routerLink="/home"
                      routerLinkActive="text-white bg-gray-800"
                      class="group flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-gray-400 hover:bg-gray-800 hover:text-white"
                    >
                      <svg
                        class="h-6 w-6 shrink-0"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
                        />
                      </svg>
                      {{ 'HOME' | translate }}
                    </a>
                  </li>
                  <li (click)="showMenu = false">
                    <a
                      *appHasRole="['ADMIN']"
                      routerLink="/admin"
                      routerLinkActive="text-white bg-gray-800"
                      class="group flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-gray-400 hover:bg-gray-800 hover:text-white"
                    >
                      <svg
                        class="h-6 w-6 shrink-0"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z"
                        />
                      </svg>
                      {{ 'ADMIN_PANEL' | translate }}
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
            <button
              class="bg-transparent px-4 py-2 font-bold text-white hover:bg-white/30"
              (click)="logout()"
            >
              {{ 'LOGOUT' | translate }}
            </button>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">
    <div
      class="flex grow flex-col gap-y-5 overflow-y-auto bg-gray-900 px-6 pb-4"
    >
      <div class="flex h-16 shrink-0 items-center justify-center">
        <img
          class="w-24"
          src="../../../../../assets/img/logo.png"
          alt="Your Company"
        />
      </div>
      <nav class="flex flex-1 flex-col">
        <ul role="list" class="flex flex-1 flex-col gap-y-7">
          <li>
            <ul role="list" class="-mx-2 space-y-1">
              <li>
                <a
                  routerLink="/home"
                  routerLinkActive="text-white bg-gray-800"
                  class="group flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-gray-400 hover:bg-gray-800 hover:text-white"
                >
                  <svg
                    class="h-6 w-6 shrink-0"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
                    />
                  </svg>
                  {{ 'HOME' | translate }}
                </a>
              </li>
              <li>
                <a
                  [routerLink]="['atoms', 'button']"
                  routerLinkActive="text-white bg-gray-800"
                  class="group flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-gray-400 hover:bg-gray-800 hover:text-white"
                >
                  Button
                </a>
              </li>
              <li>
                <a
                  [routerLink]="['atoms', 'card']"
                  routerLinkActive="text-white bg-gray-800"
                  class="group flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-gray-400 hover:bg-gray-800 hover:text-white"
                >
                  Card
                </a>
              </li>
              <li>
                <a
                  [routerLink]="['atoms', 'checkbox']"
                  routerLinkActive="text-white bg-gray-800"
                  class="group flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-gray-400 hover:bg-gray-800 hover:text-white"
                >
                  Checkbox
                </a>
              </li>
              <li>
                <a
                  [routerLink]="['atoms', 'radio']"
                  routerLinkActive="text-white bg-gray-800"
                  class="group flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-gray-400 hover:bg-gray-800 hover:text-white"
                >
                  Radio
                </a>
              </li>
              <li>
                <a
                  [routerLink]="['atoms', 'tooltip']"
                  routerLinkActive="text-white bg-gray-800"
                  class="group flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-gray-400 hover:bg-gray-800 hover:text-white"
                >
                  Tooltip
                </a>
              </li>
              <li>
                <a
                  [routerLink]="['atoms', 'dialog']"
                  routerLinkActive="text-white bg-gray-800"
                  class="group flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-gray-400 hover:bg-gray-800 hover:text-white"
                >
                  Dialog
                </a>
              </li>
              <li>
                <a
                  [routerLink]="['atoms', 'input']"
                  routerLinkActive="text-white bg-gray-800"
                  class="group flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-gray-400 hover:bg-gray-800 hover:text-white"
                >
                  Input
                </a>
              </li>
              <li>
                <a
                  routerLink="/admin"
                  *appHasRole="['ADMIN']"
                  routerLinkActive="text-white bg-gray-800"
                  class="group flex gap-x-3 rounded-md p-2 text-sm font-semibold leading-6 text-gray-400 hover:bg-gray-800 hover:text-white"
                >
                  <svg
                    class="h-6 w-6 shrink-0"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z"
                    />
                  </svg>
                  {{ 'ADMIN_PANEL' | translate }}
                </a>
              </li>
            </ul>
          </li>
        </ul>

        <button
          class="bg-transparent px-4 py-2 font-bold text-white hover:bg-white/30"
          (click)="logout()"
        >
          {{ 'LOGOUT' | translate }}
        </button>
      </nav>
    </div>
  </div>

  <div class="lg:pl-72">
    <div
      class="sticky top-0 z-40 flex h-16 shrink-0 items-center justify-between gap-x-4 border-b border-gray-200 bg-white px-4 shadow-sm sm:gap-x-6 sm:px-6 lg:px-8"
    >
      <div>
        <button
          (click)="showMenu = true"
          type="button"
          class="-m-2.5 p-2.5 text-gray-700 lg:hidden"
        >
          <span class="sr-only">Open sidebar</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>
        </button>
      </div>
      <div class="flex justify-end sm:gap-x-6">
        <button
          *ngIf="language === 'pl'"
          (click)="changeLanguage('en')"
          class="select-none"
        >
          <img
            class="mx-auto h-6 w-auto"
            src="../../../../../assets/img/i18n/poland.svg"
            alt="language_logo"
          />
        </button>
        <button
          *ngIf="language === 'en'"
          (click)="changeLanguage('pl')"
          class="select-none"
        >
          <img
            class="mx-auto h-6 w-auto"
            src="../../../../../assets/img/i18n/england.svg"
            alt="language_logo"
          />
        </button>
      </div>
    </div>

    <main class="flex w-full py-4">
      <div class="w-full px-4 sm:px-6 lg:px-8">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
