<div class="mt-5 grid grid-cols-5 gap-4">
  <a appAnchor size="large">Large</a>
  <a appAnchor size="large" icon>I</a>
  <a appAnchor elevated size="large">Elevated Large</a>
  <a appAnchor size="large" disabled>Disabled Large</a>
  <a appAnchor size="large" rounded>Rounded Large</a>
  <a appAnchor size="large" disabled rounded>Rounded D L</a>
  <a appAnchor size="large" icon rounded>I</a>
  <a appAnchor mode="secondary" size="large">L Secondary</a>
  <a appAnchor mode="secondary" disabled size="large">L D Sec</a>
  <a appAnchor size="large" mode="border">Border Large</a>
  <a appAnchor size="large" disabled mode="border">Border D Large</a>
  <a appAnchor size="large" elevated mode="border">Border E L</a>
  <a appAnchor size="large" mode="link">Link Large</a>
  <a appAnchor size="large" elevated mode="link">Link E Large</a>
</div>
