@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'responsive';
@import 'reset';

$application_scale_sm: 0.95rem;
$application_scale_md: 0.9rem;
$application_scale_2xl: 1rem;

* {
  font-size: $application_scale_sm;

  @include responsive(md) {
    font-size: $application_scale_md;
  }
  @include responsive(2xl) {
    font-size: $application_scale_2xl;
  }
}
