<h1 class="text-2xl font-bold">{{ 'USER_PANEL' | translate }}</h1>

<div class="mt-5 grid grid-cols-9 gap-4">
  <button appButton size="large">Large</button>
  <button appButton size="base">Base</button>
  <button appButton size="small">Small</button>

  <button appButton size="large" icon>I</button>
  <button appButton size="base" icon>I</button>
  <button appButton size="small" icon>I</button>

  <button appButton elevated size="large">Elevated Large</button>
  <button appButton elevated size="base">Elevated Base</button>
  <button appButton elevated size="small">Elevated Small</button>

  <button appButton size="large" disabled>Disabled Large</button>
  <button appButton size="base" disabled>Disabled Base</button>
  <button appButton size="small" disabled>Disabled Small</button>

  <button appButton size="large" rounded>Rounded Large</button>
  <button appButton size="base" rounded>Rounded Base</button>
  <button appButton size="small" rounded>Rounded Small</button>

  <button appButton size="large" disabled rounded>Rounded D L</button>
  <button appButton size="base" disabled rounded>Rounded D B</button>
  <button appButton size="small" disabled rounded>Rounded D S</button>

  <button appButton size="large" icon rounded>I</button>
  <button appButton size="base" icon rounded>I</button>
  <button appButton size="small" icon rounded>I</button>

  <button appButton mode="secondary" size="large">L Secondary</button>
  <button appButton mode="secondary" size="base">B Secondary</button>
  <button appButton mode="secondary" size="small">S Secondary</button>

  <button appButton mode="secondary" disabled size="large">L D Sec</button>
  <button appButton mode="secondary" disabled size="base">B D Sec</button>
  <button appButton mode="secondary" disabled size="small">S D Sec</button>

  <button appButton size="large" mode="border">Border Large</button>
  <button appButton size="base" mode="border">Border Base</button>
  <button appButton size="small" mode="border">Border Small</button>

  <button appButton size="large" disabled mode="border">Border D Large</button>
  <button appButton size="base" disabled mode="border">Border D Base</button>
  <button appButton size="small" disabled mode="border">Border D Small</button>

  <button appButton size="large" elevated mode="border">Border E L</button>
  <button appButton size="base" elevated mode="border">Border E B</button>
  <button appButton size="small" elevated mode="border">Border E S</button>

  <button appButton size="large" mode="link">Link Large</button>
  <button appButton size="base" mode="link">Link Base</button>
  <button appButton size="small" mode="link">Link Small</button>

  <button appButton size="large" elevated mode="link">Link E Large</button>
  <button appButton size="base" elevated mode="link">Link E Base</button>
  <button appButton size="small" elevated mode="link">Link E Small</button>
</div>

<div class="mt-5 grid grid-cols-9 gap-4">
  <app-card padding="none">Padding None</app-card>
  <app-card padding="small">Padding small</app-card>
  <app-card padding="base">Padding Base</app-card>
  <app-card padding="large">Padding large</app-card>

  <app-card mode="border">Mode border</app-card>
</div>

<div class="mt-5 grid grid-cols-3 gap-4">
  <app-checkbox>
    <input id="sample" appCheckbox />
    <label for="sample" appCheckboxLabel>Checkbox</label>
  </app-checkbox>

  <app-checkbox>
    <input id="sample1" mode="secondary" appCheckbox />
    <label for="sample1" appCheckboxLabel>Checkbox</label>
  </app-checkbox>
</div>
