<h1 class="text-2xl font-bold">{{ 'USER_PANEL' | translate }}</h1>

<div class="mt-5 grid grid-cols-9 gap-4">
  <button appButton size="large">Large</button>
  <button appButton size="base">Base</button>
  <button appButton size="small">Small</button>

  <button appButton size="large" icon>I</button>
  <button appButton size="base" icon>I</button>
  <button appButton size="small" icon>I</button>

  <button appButton elevated size="large">Elevated Large</button>
  <button appButton elevated size="base">Elevated Base</button>
  <button appButton elevated size="small">Elevated Small</button>

  <button appButton size="large" disabled>Disabled Large</button>
  <button appButton size="base" disabled>Disabled Base</button>
  <button appButton size="small" disabled>Disabled Small</button>

  <button appButton size="large" rounded>Rounded Large</button>
  <button appButton size="base" rounded>Rounded Base</button>
  <button appButton size="small" rounded>Rounded Small</button>

  <button appButton size="large" disabled rounded>Rounded D L</button>
  <button appButton size="base" disabled rounded>Rounded D B</button>
  <button appButton size="small" disabled rounded>Rounded D S</button>

  <button appButton size="large" icon rounded>I</button>
  <button appButton size="base" icon rounded>I</button>
  <button appButton size="small" icon rounded>I</button>

  <button appButton mode="secondary" size="large">L Secondary</button>
  <button appButton mode="secondary" size="base">B Secondary</button>
  <button appButton mode="secondary" size="small">S Secondary</button>

  <button appButton mode="secondary" disabled size="large">L D Sec</button>
  <button appButton mode="secondary" disabled size="base">B D Sec</button>
  <button appButton mode="secondary" disabled size="small">S D Sec</button>

  <button appButton size="large" mode="border">Border Large</button>
  <button appButton size="base" mode="border">Border Base</button>
  <button appButton size="small" mode="border">Border Small</button>

  <button appButton size="large" disabled mode="border">Border D Large</button>
  <button appButton size="base" disabled mode="border">Border D Base</button>
  <button appButton size="small" disabled mode="border">Border D Small</button>

  <button appButton size="large" elevated mode="border">Border E L</button>
  <button appButton size="base" elevated mode="border">Border E B</button>
  <button appButton size="small" elevated mode="border">Border E S</button>

  <button appButton size="large" mode="link">Link Large</button>
  <button appButton size="base" mode="link">Link Base</button>
  <button appButton size="small" mode="link">Link Small</button>

  <button appButton size="large" elevated mode="link">Link E Large</button>
  <button appButton size="base" elevated mode="link">Link E Base</button>
  <button appButton size="small" elevated mode="link">Link E Small</button>
</div>

<div class="mt-5 grid grid-cols-9 gap-4">
  <app-card padding="none">Padding None</app-card>
  <app-card padding="small">Padding small</app-card>
  <app-card padding="base">Padding Base</app-card>
  <app-card padding="large">Padding large</app-card>

  <app-card mode="border">Mode border</app-card>
</div>

<div class="mt-5 grid grid-cols-3 gap-4">
  <app-checkbox-wrapper class="custom">
    <input id="c-primary" appCheckbox checked />
    <label for="c-primary" appCheckboxLabel>Checkbox Primary</label>
  </app-checkbox-wrapper>

  <app-checkbox-wrapper>
    <input id="c-secondary" mode="secondary" appCheckbox checked />
    <label for="c-secondary" appCheckboxLabel>Checkbox Secondary</label>
  </app-checkbox-wrapper>

  <app-checkbox-wrapper>
    <input id="c-disabled" mode="secondary" checked appCheckbox disabled />
    <label for="c-disabled" appCheckboxLabel>Checkbox Disabled</label>
  </app-checkbox-wrapper>

  <fieldset class="flex flex-row gap-10">
    <legend class="mb-6 text-slate-500">Primary radio button group:</legend>

    <app-radio-wrapper>
      <input id="r-primary" name="r-p" appRadio checked />
      <label for="r-primary" appRadioLabel>Primary</label>
    </app-radio-wrapper>

    <app-radio-wrapper>
      <input id="r-p-no" name="r-p" appRadio />
      <label for="r-p-no" appRadioLabel>Empty</label>
    </app-radio-wrapper>

    <app-radio-wrapper>
      <input id="r-p-dis" name="r-p" appRadio disabled />
      <label for="r-p-dis" appRadioLabel>Disabled</label>
    </app-radio-wrapper>
  </fieldset>

  <fieldset class="flex flex-row gap-10">
    <legend class="mb-6 text-slate-500">Secondary radio button group:</legend>

    <app-radio-wrapper>
      <input id="r-secondary" name="r-s" mode="secondary" appRadio checked />
      <label for="r-secondary" appRadioLabel>Secondary</label>
    </app-radio-wrapper>

    <app-radio-wrapper>
      <input id="r-s-no" name="r-s" mode="secondary" appRadio />
      <label for="r-s-no" appRadioLabel>Empty</label>
    </app-radio-wrapper>

    <app-radio-wrapper>
      <input id="r-s-dis" name="r-s" mode="secondary" appRadio disabled />
      <label for="r-s-dis" appRadioLabel>Disabled</label>
    </app-radio-wrapper>
  </fieldset>
</div>

<div class="mt-5 grid grid-cols-4 gap-4">
  <app-card [appTooltip]="{ value: 'Top', position: 'bottom' }">
    Tooltip Bottom
  </app-card>
  <app-card [appTooltip]="{ value: 'Tooltip', size: 'small' }">
    Small Top
  </app-card>
  <app-card [appTooltip]="{ position: 'right', template: tooltipContent }">
    Template Right
    <ng-template #tooltipContent>
      <p>Tooltip Content</p>
      <p>Tooltip Content</p>
    </ng-template>
  </app-card>
</div>
