<h1 class="text-2xl font-bold">{{ 'USER_PANEL' | translate }}</h1>

<div class="mt-3 grid grid-cols-9 gap-4">
  <button appButton size="large">Large</button>
  <button appButton size="base">Base</button>
  <button appButton size="small">Small</button>

  <button appButton size="large" icon>I</button>
  <button appButton size="base" icon>I</button>
  <button appButton size="small" icon>I</button>

  <button appButton elevated size="large">Elevated Large</button>
  <button appButton elevated size="base">Elevated Base</button>
  <button appButton elevated size="small">Elevated Small</button>

  <button appButton size="large" disabled>Disabled Large</button>
  <button appButton size="base" disabled>Disabled Base</button>
  <button appButton size="small" disabled>Disabled Small</button>

  <button appButton size="large" mode="rounded">Rounded Large</button>
  <button appButton size="base" mode="rounded">Rounded Base</button>
  <button appButton size="small" mode="rounded">Rounded Small</button>

  <button appButton size="large" disabled mode="rounded">Rounded D L</button>
  <button appButton size="base" disabled mode="rounded">Rounded D B</button>
  <button appButton size="small" disabled mode="rounded">Rounded D S</button>

  <button appButton size="large" icon mode="rounded">I</button>
  <button appButton size="base" icon mode="rounded">I</button>
  <button appButton size="small" icon mode="rounded">I</button>

  <button appButton size="large" mode="border">Border Large</button>
  <button appButton size="base" mode="border">Border Base</button>
  <button appButton size="small" mode="border">Border Small</button>

  <button appButton size="large" disabled mode="border">Border D Large</button>
  <button appButton size="base" disabled mode="border">Border D Base</button>
  <button appButton size="small" disabled mode="border">Border D Small</button>

  <button appButton size="large" elevated mode="border">Border E L</button>
  <button appButton size="base" elevated mode="border">Border E B</button>
  <button appButton size="small" elevated mode="border">Border E S</button>

  <button appButton size="large" mode="link">Link Large</button>
  <button appButton size="base" mode="link">Link Base</button>
  <button appButton size="small" mode="link">Link Small</button>

  <button appButton size="large" elevated mode="link">Link E Large</button>
  <button appButton size="base" elevated mode="link">Link E Base</button>
  <button appButton size="small" elevated mode="link">Link E Small</button>
</div>
